$white: #ffffff;
$dark-blue: #01579b;
$blue-rgba: rgba(0,123,255,0.8);
$light-grey: #9e9e9e;

.col-margin{
  margin-top: 10px !important;
}

$font: 'Poppins', sans-serif;

::selection { background-color: #C3CFE2; }

body {

  background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}
.text {
  padding-top: 15px;
  text-transform: uppercase;
  background: linear-gradient(to right, #007bff 0%, #01579b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: {
    size: 3vw;
    family: $font;
  };
}
.card-profile {
  float: right;
  width: 24rem;
}

.card-profile .card-body {
    padding: 0 !important;
}

.user-section-profile {
  padding: 70px 0 20px 0;
}

.btn-edit {
  height: 35px;
  background-color: $dark-blue;
  color: $white;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 3px !important;
}

.card-info {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 20px;
}

.user-section-profile {
  img {
    margin: 0 auto;
    display: table;
  }
  h4 {
    margin: 15px auto 0 auto;
    display: table;
  }
  .btn-follow {
    margin: 15px auto 0 auto;
    display: table;
    background-color: $dark-blue;
    color: $white;
  }
  .icon-edit {
    font-size: 20px;
    margin: auto;
  }
}

.user-section-edit {
  .btn-follow {
    background-color: $dark-blue;
    color: $white;
  }
}

.user-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid $dark-blue;
  background-size: cover;
}

.user-section-follower {
  text-align: center;
  color: $light-grey;
  font-size: 15px;
}

.user-section-follower span {
  color: $blue-rgba;
}

.user-section-title {
  margin-left: 5px;
}

.section-icons {
  margin-right: 2px;
  font-size: 17px !important;
}

%user-section-content {
  margin: 0 24px !important;
}

.user-section-content-text {
  @extend %user-section-content;
  color: $light-grey;
  word-wrap:break-word;
}

.edit-tittle {
  border-radius: 0;
  border-width:0;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.edit-image-container {
  margin-left: 90px;
  label {
    margin-left: 20px;
  }
}

.user-section-content-link {
  @extend %user-section-content;
  color: $blue-rgba;
}

%user-social-icon {
  width: 20px;
  margin-right: 2px;
}
.user-social-icon-twitter-twitch {
  @extend %user-social-icon;
  height: 20px;
}

.user-social-icon-youtube {
  @extend %user-social-icon;
  height: 15px;
}

.card-border {
  border-bottom: 3px solid $blue-rgba !important;
  width: 80% !important;
  margin: 10px auto auto auto;
}

.card-game {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 12px;
  color: $blue-rgba;
}

.card-game i {
  font-size: 12px !important;
  margin-right:  2px;
}


.follower-section {
  padding: 10px 0 !important;
}

.btn-padding {
  padding: 0 10px !important;
}

.file-input {
  margin-top: 15px;
  margin-bottom: 15px;
}

#user-preview {
  margin-top: 20px;
}

.help-error {
  color: #D8000C;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.input-game-span {
  width: 100%;
}
