.user-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #01579b;
    background-size: cover;
}

/*.user-img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding-top: 25%;
}
.user-img-container {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 2px solid #01579b;
    overflow: hidden;
} */
.user-section-center {
    margin: 0 auto;
    display: table;
}

.user-section {
    margin-left: 2%;
}

.section-icons {
    margin-right: 2%;
}

.user-section-content {
    margin: 0 5% !important;
}

.user-social-icon {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}
.user-social-youtube-icon {
    width: 20px;
    height: 15px;
    margin-right: 2px;
}

.card-style:hover {
    border: 1px solid #0288d1 !important;
    /*background-color: #0288d1;
    color: white;*/
}

.file-input {
    margin-top: 15px;
    margin-bottom: 15px;
}

#user-preview {
    margin-top: 20px;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
