<div class="container" ng-cloak>
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="text-center">
        <h2>{{'MATCH_DATA_TITLE'|translate}}</h2>
      </div>
      <form novalidate ng-submit="processForm()" name="matchDataForm">
        <label for="home-char-input">{{'MATCH_DATA_HOME_CHAR' | translate}}</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" ng-model="matchDataForm.homePlayerCharacter"
                 id="home-char-input" name="thomechar" ng-minlength="0" ng-maxlength="40" ng-pattern="/[a-zA-Z0-9 ]+/"
                 ng-class="{ 'is-invalid': matchDataForm.thomechar.$touched && matchDataForm.thomechar.$invalid }" >
          <div ng-messages="matchDataForm.thomechar.$error" class="invalid-feedback" ng-if="matchDataForm.thomechar.$touched">
            <p ng-message="minlength">{{'MATCH_DATA_FORM_CHAR_LENGTH' | translate: '{ minlength: "4", maxlength: "40"}' }}</p>
            <p ng-message="maxlength">{{'MATCH_DATA_FORM_CHAR_LENGTH' | translate: '{ minlength: "4", maxlength: "40"}' }}</p>
            <p ng-message="pattern">{{'MATCH_DATA_FORM_CHAR_PATTERN' | translate}}</p>
          </div>
        </div>
        <label for="away-char-input">{{'MATCH_DATA_AWAY_CHAR' | translate}}</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" ng-model="matchDataForm.awayPlayerCharacter"
                 id="away-char-input" name="tawaychar" ng-minlength="0" ng-maxlength="40" ng-pattern="/[a-zA-Z0-9 ]+/"
                 ng-class="{ 'is-invalid': matchDataForm.tawaychar.$touched && matchDataForm.tawaychar.$invalid }" >
          <div ng-messages="matchDataForm.tawaychar.$error" class="invalid-feedback" ng-if="matchDataForm.tawaychar.$touched">
            <p ng-message="minlength">{{'MATCH_DATA_FORM_CHAR_LENGTH' | translate: '{ minlength: "0", maxlength: "40"}' }}</p>
            <p ng-message="maxlength">{{'MATCH_DATA_FORM_CHAR_LENGTH' | translate: '{ minlength: "0", maxlength: "40"}' }}</p>
            <p ng-message="pattern">{{'MATCH_DATA_FORM_CHAR_PATTERN' | translate}}</p>
          </div>
        </div>
        <label for="map-input">{{'MATCH_DATA_MAP' | translate}}</label>
        <div class="input-group mb-3">
          <span class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
          </span>
          <input type="text" class="form-control" ng-model="matchDataForm.map"
                 id="map-input" name="tmap" ng-maxlength="40" ng-pattern="/[a-zA-Z0-9 ]+/"
                 ng-class="{ 'is-invalid': matchDataForm.tmap.$touched && matchDataForm.tmap.$invalid }" >
          <div ng-messages="matchDataForm.tmap.$error" class="invalid-feedback" ng-if="matchDataForm.tmap.$touched">
            <p ng-message="minlength">{{'MATCH_DATA_FORM_CHAR_LENGTH' | translate: '{ minlength: "0", maxlength: "40"}' }}</p>
            <p ng-message="maxlength">{{'MATCH_DATA_FORM_CHAR_LENGTH' | translate: '{ minlength: "0", maxlength: "40"}' }}</p>
            <p ng-message="pattern">{{'MATCH_DATA_FORM_CHAR_PATTERN' | translate}}</p>
          </div>
        </div>
        <label for="vodlink-input">{{'MATCH_DATA_VOD' | translate}}</label>
        <div class="input-group mb-3">
          <span class="input-group-prepend">
            <span class="input-group-text"><i class="fab fa-youtube"></i></span>
          </span>
          <input type="url" class="form-control" ng-model="matchDataForm.vodLink"
                 id="vodlink-input" name="tvodlink" ng-maxlength="256"
                 ng-class="{ 'is-invalid': matchDataForm.tvodlink.$touched && matchDataForm.tvodlink.$invalid }" >
          <div ng-messages="matchDataForm.tvodlink.$error" class="invalid-feedback" ng-if="matchDataForm.tvodlink.$touched">
            <p ng-message="url">{{'MATCH_DATA_FORM_VOD_URL' | translate}}</p>
            <p ng-message="maxlength">{{'MATCH_DATA_FORM_VOD_LENGTH' | translate: '{ minlength: "4", maxlength: "256"}' }}</p>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" type="submit" ng-disabled="matchDataForm.$invalid">{{'MATCH_DATA_SUBMIT' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
