<div class="container">
    <h1 class="text-center">{{tournament.name}}</h1>
    <tournament-info/>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link" ng-href="#/tournament/{{tournament.id}}">{{'TOURNAMENT_PAGE_BRACKET'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-href="#/tournament/{{tournament.id}}/standings">{{'TOURNAMENT_PAGE_STANDINGS'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-href="#/tournament/{{tournament.id}}/players">{{'TOURNAMENT_PAGE_PLAYERS'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" ng-href="#">{{'TOURNAMENT_PAGE_COMMENTS'|translate}}</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div ng-repeat="comment in comments" class="text-left">
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-text">{{comment.comment}}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <a ng-href="#/users/{{comment.creator.id}}">{{comment.creator.username}}</a> - {{comment.date | date: 'medium' }}
                    </div>
                </div>
                <div ng-repeat="reply in comment.children">
                    <div class="card mb-3 reply-comment">
                        <div class="card-body">
                            <p class="card-text">{{reply.comment}}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <a ng-href="#/users/{{reply.creator.id}}">{{reply.creator.username}}</a> - {{reply.date | date: 'medium' }}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-hide="loggedUser == undefined" class="card text-left">
                <div class="card-body">
                    <form novalidate ng-submit="addComment()" name="commentForm">
                        <div class="form-group">
                            <textarea type="text" class="form-control" id="comment-input" placeholder="{{'COMMENT_FORM_PLACEHOLDER' | translate }}"
                                ng-model="commentForm.comment" name="tcomment" required ng-minlength="2" ng-maxlength="200"
                                ng-class="{ 'is-invalid': commentForm.tcomment.$touched && commentForm.tcomment.$invalid }"></textarea>
                            <div ng-messages="commentForm.tcomment.$error" class="invalid-feedback" ng-if="commentForm.tcomment.$touched">
                                <p ng-message="minlength">{{'COMMENT_FORM_LENGTH' | translate: '{ minlength: "2", maxlength: "200"}' }}</p>
                                <p ng-message="maxlength">{{'COMMENT_FORM_LENGTH' | translate: '{ minlength: "2", maxlength: "200"}' }}</p>
                                <p ng-message="required">{{'COMMENT_FORM_REQUIRED' | translate}}</p>
                            </div>
                        </div>
                        <button type="submit" class="card-link btn btn-primary" ng-disabled="commentForm.$invalid">{{'COMMENT_SUBMIT' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
