<tournament-image></tournament-image>
<div class="container">
  <tournament-info></tournament-info>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link" ng-href="#/tournament/{{tournament.id}}">{{'TOURNAMENT_PAGE_BRACKET'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/tournament/{{tournament.id}}/standings">{{'TOURNAMENT_PAGE_STANDINGS'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#/tournament/{{tournament.id}}/players">{{'TOURNAMENT_PAGE_PLAYERS'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/tournament/{{tournament.id}}/comments">{{'TOURNAMENT_PAGE_COMMENTS'|translate}}</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{'TOURNAMENT_PAGE_PLAYERS_TABLE_SEED' | translate}}</th>
                        <th scope="col">{{'TOURNAMENT_PAGE_PLAYERS_TABLE_PLAYER' | translate}}</th>
                        <th scope="col">{{'TOURNAMENT_PAGE_PLAYERS_TABLE_USERNAME' | translate}}</th>
                        <th ng-if="loggedUser == tournament.creator.username && tournament.status == 'NEW'" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody ng-if="loggedUser == tournament.creator.username && tournament.status == 'NEW'" ui-sortable="sortableOptions" ng-model="tournament.players">
                    <tr ng-repeat="player in tournament.players track by $index| orderBy:'+seed'">
                        <td style="cursor: move">{{player.seed}}</td>
                        <td style="cursor: move">{{player.name}}</td>
                        <td><a ng-href="#/users/{{player.user.username}}" ng-bind="player.user.username"></a></td>
                        <td>
                            <form no-validate ng-submit="removePlayer(player.id)">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" ng-if="tournament.players.length === 0">{{'PLAYER_TABLE_EMPTY' | translate}}</td>
                    </tr>
                </tbody>
              <tbody ng-if="loggedUser != tournament.creator.username || tournament.status != 'NEW'">
                <tr ng-repeat="player in tournament.players track by $index| orderBy:'+seed'">
                  <td>{{player.seed}}</td>
                  <td>{{player.name}}</td>
                  <td>{{player.username}}</td>
                </tr>
                <tr>
                  <td colspan="3" ng-if="tournament.players.length === 0">{{'PLAYER_TABLE_EMPTY' | translate}}</td>
                </tr>
              </tbody>
            </table>
            <form no-validate ng-submit="generateBracket()" class="row" name="bracketForm" method="POST"
                ng-if="loggedUser == tournament.creator.username && tournament.players.length >= 2 && tournament.status == 'NEW'">
                <div class="form-group col-md-3 offset-md-4">
                    <button type="submit" class="btn btn-primary btn-block">{{'TOURNAMENT_PAGE_GENERATE' | translate}}</button>
                </div>
            </form>
            <div ng-show="loggedUser == tournament.creator.username && tournament.status == 'NEW'">
                <h3>{{'PLAYER_FORM_ADD_TITLE' | translate}}</h3>
                <form novalidate ng-submit="addPlayer()" name="playerForm">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="player-input" placeholder="Display name"
                                ng-model="playerForm.player" name="tplayer" required ng-minlength="4" ng-maxlength="16" ng-pattern="/[a-zA-Z0-9 ]+/"
                                ng-class="{ 'is-invalid': playerForm.tplayer.$touched && playerForm.tplayer.$invalid }" >
                            <div ng-messages="playerForm.tplayer.$error" class="invalid-feedback" ng-if="playerForm.tplayer.$touched">
                                <p ng-message="minlength">{{'PLAYER_FORM_NAME_LENGTH' | translate: '{ minlength: "4", maxlength: "16"}' }}</p>
                                <p ng-message="maxlength">{{'PLAYER_FORM_NAME_LENGTH' | translate: '{ minlength: "4", maxlength: "16"}' }}</p>
                                <p ng-message="required">{{'PLAYER_FORM_NAME_REQUIRED' | translate}}</p>
                                <p ng-message="pattern">{{'PLAYER_FORM_NAME_PATTERN' | translate}}</p>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="username-input" placeholder="Username" name="tusername"
                            ng-model="playerForm.username" ng-minlength="4" ng-maxlength="40" ng-pattern="/[a-zA-Z0-9]+/" existing-user
                             ng-class="{ 'is-invalid': playerForm.tusername.$touched && playerForm.tusername.$invalid }" >
                            <div ng-messages="playerForm.tusername.$error" class="invalid-feedback" ng-if="playerForm.tusername.$touched">
                                <p ng-message="minlength">{{'PLAYER_FORM_USERNAME_LENGTH' | translate: '{ minlength: "4", maxlength: "40"}' }}</p>
                                <p ng-message="maxlength">{{'PLAYER_FORM_USERNAME_LENGTH' | translate: '{ minlength: "4", maxlength: "40"}' }}</p>
                                <p ng-message="pattern">{{'PLAYER_FORM_USERNAME_PATTERN' | translate}}</p>
                                <p ng-message="existingUser">{{'PLAYER_FORM_USERNAME_EXISTS' | translate}}</p>
                            </div>
                            <p ng-if="playerForm.tusername.$pending" class="text-muted">{{'PLAYER_FORM_USERNAME_CHECKING'|translate}}</p>
                        </div>
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-primary align-bottom" ng-disabled="playerForm.$invalid || playerForm.$pending">{{'PLAYER_FORM_ADD_BUTTON' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-if="loggedUser == tournament.creator.username && tournament.status == 'NEW'">
                <h3>{{'PLAYER_JOIN_REQUESTS' | translate}}</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{'TOURNAMENT_PAGE_PLAYERS_TABLE_USERNAME' | translate}}</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="inscription in inscriptions">
                            <td>{{inscription.username}}</td>
                            <td>
                                <button ng-click="acceptPlayer(inscription)" class="btn btn-success">Accept</button>
                                <button ng-click="rejectPlayer(inscription.id)" class="btn btn-danger">Reject</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
