<div class="container">
    <h1 class="text-center">{{tournament.name}}</h1>
    <tournament-info/>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link" ng-href="#/tournament/{{tournament.id}}">{{'TOURNAMENT_PAGE_BRACKET'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/tournament/{{tournament.id}}/standings">{{'TOURNAMENT_PAGE_STANDINGS'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#/tournament/{{tournament.id}}/players">{{'TOURNAMENT_PAGE_PLAYERS'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/tournament/{{tournament.id}}/comments">{{'TOURNAMENT_PAGE_COMMENTS'|translate}}</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{'TOURNAMENT_PAGE_PLAYERS_TABLE_SEED' | translate}}</th>
                        <th scope="col">{{'TOURNAMENT_PAGE_PLAYERS_TABLE_PLAYER' | translate}}</th>
                        <th scope="col">{{'TOURNAMENT_PAGE_PLAYERS_TABLE_USERNAME' | translate}}</th>
                        <th ng-if="loggedUser == tournament.creator.username" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in tournament.players | orderBy:'+seed'">
                        <td>{{player.seed}}</td>
                        <td>{{player.name}}</td>
                        <td>Username</td>
                        <td ng-if="loggedUser == tournament.creator.username">Remove</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h2>Add player</h2>
            </div>
        </div>
    </div>
</div>