<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="text-center">
                <h2>{{'TOURNAMENT_CREATE' | translate}}</h2>
            </div>
            <form ng-submit="processForm()">
                <label for="username-input">{{'TOURNAMENT_NAME' | translate}}</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="oi input-group-text" data-glyph="person" title="person" aria-hidden="true"></span>
                    </div>
                    <input type="text" class="form-control" ng-model="registerForm.username" placeholder="{{'REGISTER_USERNAME' | translate}}"
                        id="username-input" required>
                </div>
                <label for="password-input">{{'TOURNAMENT_GAME' | translate}}</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="oi input-group-text" data-glyph="lock-locked" title="lock-locked" aria-hidden="true"></span>
                    </div>
                    <input type="password" class="form-control" ng-model="registerForm.password" placeholder="{{'REGISTER_PASSWORD' | translate}}"
                        id="password-input" required>
                </div>
                <label for="repeat-password-input">{{'REGISTER_REPEAT_PASSWORD' | translate}}</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="oi input-group-text" data-glyph="lock-locked" title="lock-locked" aria-hidden="true"></span>
                    </div>
                    <input type="password" class="form-control" ng-model="registerForm.repeatPassword" placeholder="{{'REGISTER_REPEAT_PASSWORD' | translate}}"
                        id="repeat-password-input" required>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">{{'REGISTER_TITLE' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>