<div class="container">
    <h1 class="text-center">{{tournament.name}}</h1>
    <tournament-info/>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="#">{{'TOURNAMENT_PAGE_BRACKET'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{'TOURNAMENT_PAGE_STANDINGS'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{'TOURNAMENT_PAGE_PLAYERS'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{'TOURNAMENT_PAGE_COMMENTS'|translate}}</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
        </div>
    </div>
</div>