<div class="container-fluid">
  <div class="row">
    <div class="col-4 col-margin">
      <div class="card card-profile" >
        <div class="card-body">
          <div class="user-section-profile">
            <button type="button" ng-show="loggedUser != undefined && loggedUser == user.username" class="btn btn-edit" ng-show="user.twitchUrl || user.description || user.twitterUrl || user.youtubeUrl" ng-click="goConfigPage()" ng-cloak><i class="material-icons icon-edit" >edit</i></button>
            <img class="user-img" ng-src="{{profileImageUrl}}">
            <h4>{{user.username}}</h4>
            <button ng-show="loggedUser != undefined && loggedUser != user.username" type="button" class="btn btn-follow" ng-click="user.follow ? unfollow() : follow()" ng-cloak>
              <span ng-show="!user.follow">{{'USER_FOLLOW' | translate}}</span>
              <span ng-show="user.follow">{{'USER_UNFOLLOW' | translate}}</span>
            </button>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="card-body">

          <div class="user-section-follower"><b>{{'USER_FOLLOWERS' | translate}}<span>{{user.followersAmount}}</span></b></div>

        </div>
        <div class="dropdown-divider"></div>
        <div class="card-body">
          <h6 ng-show="user.twitchUrl || user.description || user.twitterUrl || user.youtubeUrl"><i class="material-icons section-icons" >info_outline</i><b>{{'USER_PERSONAL_INFORMATION' | translate}}</b></h6>
          <div class="text-center user-section-edit" ng-hide="user.twitchUrl || user.description || user.twitterUrl || user.youtubeUrl">
            <h6>
              <b>{{'USER_EDIT_PROFILE' | translate}}</b>
            </h6>
            <button type="button" class="btn btn-follow" ng-click="goConfigPage()" >{{'USER_EDIT_BUTTON' | translate}}</button>
          </div>

          <p  class="user-section-content-text">{{user.description}}</p><br>


          <a ng-show="user.twitchUrl" ng-href="{{user.twitchUrl}}">
            <div class="user-section-content-link">
              <span>
                <img class="user-social-icon-twitter-twitch" src="/images/twitch-icon.png">
              </span>
              <span>
                {{"Twitch"}}
              </span>
            </div>
          </a>


          <a ng-show="user.twitterUrl" ng-href="{{user.twitterUrl}}">
            <div class="user-section-content-link">
              <span>
                <img class="user-social-icon-twitter-twitch" src="/images/twitter-icon.png">
              </span>
              <span>
                {{"Twitter"}}
              </span>
            </div>
          </a>


          <a ng-show="user.youtubeUrl" ng-href="{{user.youtubeUrl}}">
            <div class="user-section-content-link">
              <span >
                <img class="user-social-icon-youtube" src="/images/youtube-icon.png">
              </span>
              <span>
                  {{"Youtube"}}
              </span>
            </div>
          </a>

        </div>

        <div class="dropdown-divider" ng-show="user.favoriteGame"></div>
        <div class="card-body" ng-show="user.favoriteGame">
          <h6 class="user-section-title"><i class="material-icons section-icons">games</i><b>{{'USER_FAVORITE_GAME' | translate}}</b></h6>

          <p class="user-section-content-text">{{user.favoriteGame.name}}</p>

        </div>
      </div>



    </div>
    <div class="col-7 col-margin">
      <div class="card">
        <div class="card-header">
          <nav>
            <div class="nav nav-tabs card-header-tabs nav-fill" id="nav-tab" role="tablist">
              <a id="participates" class="nav-item nav-link active" id="pills-participates-tab" ng-href="/#/users/{{username}}" role="tab" aria-controls="pills-participates" aria-selected="true">{{'USER_PARTICIPATES' | translate}}</a>
              <a id="creates" class="nav-item nav-link" id="pills-creates-tab" ng-href="/#/users/{{username}}/created"  role="tab" aria-controls="pills-creates" aria-selected="false">{{'USER_CREATES' | translate}}</a>
              <a id="rankings" class="nav-item nav-link" id="pills-rankings-tab" ng-href="/#/users/{{username}}/rankings" role="tab" aria-controls="pills-rankings" aria-selected="false">{{'USER_RANKINGS' | translate}}</a>
            </div>
          </nav>
        </div>
        <div class="card-body">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-participates" role="tabpanel" aria-labelledby="pills-participates-tab" ng-controller="UsersCtrl">
              <div infinite-scroll='loadParticipatedTournaments()' infinite-scroll-distance='1'>
                <div ng-repeat='participate in participates'>
                  <div class="card col-12 card-info">
                    <div class="card-body">
                      <div class="card-game" ng-show="participate.game.name != null || participate.game.name != ''" ><b><i class="material-icons" >games</i>{{participate.game.name}}</b></div>
                      <div class="card-game" ng-show="participate.game.name == null || participate.game.name == ''" ><b><i class="material-icons" >games</i>{{'USER_NO_GAME' | translate}}</b></div>
                      <h4 class="card-title" ><b>{{participate.name}}  </b></h4>

                      <h6 class="card-subtitle mb-2 text-muted" ng-hide="participate.status == 'FINISHED'">
                        {{'USER_TOURNAMENT_NOT_END' | translate}}
                      </h6>
                      <h6 class="card-subtitle mb-2 text-muted" ng-hide="participate.status != 'FINISHED'">
                        <div ng-repeat="player in participate.players">
                          <div ng-show="player.user && player.user.username == user.username">
                            {{'USER_POSITION' | translate}}{{player.standing}}
                          </div>
                        </div>
                      </h6>
                    </div>
                    <div class="card-footer">
                      <a ng-href="#/tournament/{{participate.id}}" class="card-link text-warning">{{'USER_BRACKET' | translate}}</a>
                      <a ng-href="#/tournament/{{participate.id}}/standings" class="card-link text-warning">{{'USER_STANDING' | translate}}</a>
                    </div>

                  </div>
                </div>
              </div>
              <div ng-show='{{busy}}'></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
