<div class="container">
  
  <form id="userUpdateForm" action="/paw-2017b-2/update/12" method="post" enctype="multipart/form-data">
    <div class="section">
      <div class="user-section-center" style="padding-bottom: 20px">
        <img class="user-img" ng-src="http://localhost:8080/users/profile-image/{{userId}}">
      </div>
      <div class="user-section-center">
        <label for="file" class="btn btn-primary light-blue darken-4 fileContainer">add image
          <input id="image" name="image" placeholder="pepeps" type="file" class="file-input" accept="image/*" onchange="readURL(this);" value="" autocomplete="off">
        </label>
      </div>
    </div>
    <div class="divider"></div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img class="user-social-icon-twitter-twitch" src="/images/twitter-icon.png"> Twitter</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img class="user-social-icon-youtube" src="/images/youtube-icon.png"> Youtube</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img class="user-social-icon-twitter-twitch" src="/images/twitch-icon.png"> Twitch</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Game</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="right" style="padding-top: 50px;padding-bottom: 20px;padding-right: 20px">
      <button type="submit" class="btn btn-primary light-blue darken-4" value="Submit">Save</button>
    </div>
  </form>

</div>
